<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RetailDirect::top_level" title="RetailDirect" module="RetailDirect_GiftClaim" sortOrder="9999" resource="Magento_Backend::content"/>
        <add id="RetailDirect_GiftClaim::retaildirect_giftclaim_giftclaim" title="GiftClaim" module="RetailDirect_GiftClaim" sortOrder="9999" resource="Magento_Backend::content" parent="RetailDirect::top_level" action="retaildirect_giftclaim/giftclaim/index"/>
    </menu>
</config>
